<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nechal Home Agency | Your Dream Home Awaits</title>
  <meta name="description" content="Discover your dream home with Nechal Home Agency. Our expert services and diverse property listings make finding the perfect place easy and enjoyable. Contact us today!">
  <%- include("../common/config.ejs") %>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="font-montserrat">
  <section class="h-[45rem]">
    <div class="relative w-full h-full">
      <div id="image-container" class="absolute w-full h-full overflow-hidden">
        <div class="image absolute w-full h-full bg-cover transition-opacity duration-1000 opacity-0 bg-hero1 bg-cover brightness-[.6]"></div>
        <div class=" image absolute w-full h-full bg-cover transition-opacity duration-1000 opacity-0 bg-hero2 bg-cover brightness-[.6]"></div>
        <div class=" image absolute w-full h-full bg-cover transition-opacity duration-1000 opacity-0 bg-hero3 bg-cover brightness-[.6]"></div>
      </div>
      <div class="absolute w-full h-full">
        <div class="max-w-[1300px] mx-auto h-full">
          <nav id="stickyNav" class="flex transition-all duration-1000 text-white justify-between py-3 items-center xs:px-2 sm:px-5 border-b border-gray-200 w-full fixed left-0 top-0 z-50">
            <div class="overflow-hidden">
              <a id="openMenu" href="#" class="flex headerAnim gap-2 transition-all duration-500 hover:text-[#EFB93F] items-center">
                <i class='bx bx-menu-alt-left xs:text-xl sm:text-3xl'></i>
                <span class="xs:text-xl sm:text-3xl">Menu</span>
              </a>
            </div>
            <div class="xs:hidden xl:flex gap-6 font-semibold ">
              <a class="transition-all duration-500 hover:text-[#EFB93F]" href="/forSale">For Sale</a>
              <a class="transition-all duration-500 hover:text-[#EFB93F]" href="/forRent">For Rent</a>
              <a class="transition-all duration-500 hover:text-[#EFB93F]" href="/properties">Property</a>
              <a class="transition-all duration-500 hover:text-[#EFB93F]" href="/contact">Contact us</a>
            </div>
            <div class="flex xs:gap-2 sm:gap-8 items-center">
              <svg class="fill-white xs:w-3 sm:w-8 transition-all duration-500 hover:fill-[#EFB93F]" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 12 12">
                <path d="M8.80684 7.75632C9.53304 6.76537 9.85829 5.53677 9.71754 4.31631C9.57678 3.09585 8.9804 1.97354 8.04769 1.17391C7.11499 0.374287 5.91476 -0.0436852 4.68712 0.00361793C3.45949 0.050921 2.29498 0.560011 1.42657 1.42904C0.558166 2.29806 0.0499094 3.46294 0.00348477 4.69061C-0.0429399 5.91828 0.375891 7.11821 1.17619 8.05034C1.97648 8.98247 3.09922 9.57805 4.31978 9.71794C5.54034 9.85782 6.76871 9.53168 7.75913 8.80478H7.75838C7.78088 8.83478 7.80488 8.86328 7.83188 8.89103L10.7193 11.7784C10.8599 11.9191 11.0507 11.9982 11.2496 11.9983C11.4486 11.9984 11.6394 11.9194 11.7801 11.7788C11.9208 11.6382 11.9999 11.4474 12 11.2485C12.0001 11.0495 11.9211 10.8587 11.7805 10.718L8.89309 7.83057C8.86628 7.80342 8.83744 7.77835 8.80684 7.75557V7.75632ZM9.00034 4.87343C9.00034 5.41511 8.89364 5.95149 8.68635 6.45194C8.47906 6.95239 8.17522 7.40711 7.7922 7.79013C7.40917 8.17316 6.95445 8.477 6.454 8.68429C5.95355 8.89158 5.41717 8.99827 4.87549 8.99827C4.33381 8.99827 3.79743 8.89158 3.29698 8.68429C2.79653 8.477 2.34181 8.17316 1.95878 7.79013C1.57576 7.40711 1.27192 6.95239 1.06463 6.45194C0.857338 5.95149 0.750645 5.41511 0.750645 4.87343C0.750645 3.77945 1.18523 2.73028 1.95878 1.95672C2.73234 1.18316 3.78151 0.748583 4.87549 0.748583C5.96947 0.748583 7.01864 1.18316 7.7922 1.95672C8.56576 2.73028 9.00034 3.77945 9.00034 4.87343V4.87343Z"></path>
              </svg>
              <a href="/profile">
                <img class="w-[20px] h-[20px] object-cover rounded-full" src="<%= userImages.filepath %>" alt="">
              </a>
              <a id="addP" href="/addProperty" class="flex sm:text-[14px] xs:text-[12px] relative xs:gap-1 sm:gap-2 xs:px-3 sm:px-8 bg-black rounded-lg xs:py-2 sm:py-3 text-black hover:text-white items-center transition-all duration-500 fill-black hover:fill-white font-semibold overflow-hidden">
                <svg class=" relative z-10 xs:w-3 sm:w-8" xmlns="http://www.w3.or g/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                  <g clip-path="url(#clip0_485_1365)">
                    <path d="M7 13.125C5.37555 13.125 3.81763 12.4797 2.66897 11.331C1.52031 10.1824 0.875 8.62445 0.875 7C0.875 5.37555 1.52031 3.81763 2.66897 2.66897C3.81763 1.52031 5.37555 0.875 7 0.875C8.62445 0.875 10.1824 1.52031 11.331 2.66897C12.4797 3.81763 13.125 5.37555 13.125 7C13.125 8.62445 12.4797 10.1824 11.331 11.331C10.1824 12.4797 8.62445 13.125 7 13.125ZM7 14C8.85652 14 10.637 13.2625 11.9497 11.9497C13.2625 10.637 14 8.85652 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 8.85652 0.737498 10.637 2.05025 11.9497C3.36301 13.2625 5.14348 14 7 14Z"></path>
                    <path d="M7 3.5C7.11603 3.5 7.22731 3.54609 7.30936 3.62814C7.39141 3.71019 7.4375 3.82147 7.4375 3.9375V6.5625H10.0625C10.1785 6.5625 10.2898 6.60859 10.3719 6.69064C10.4539 6.77269 10.5 6.88397 10.5 7C10.5 7.11603 10.4539 7.22731 10.3719 7.30936C10.2898 7.39141 10.1785 7.4375 10.0625 7.4375H7.4375V10.0625C7.4375 10.1785 7.39141 10.2898 7.30936 10.3719C7.22731 10.4539 7.11603 10.5 7 10.5C6.88397 10.5 6.77269 10.4539 6.69064 10.3719C6.60859 10.2898 6.5625 10.1785 6.5625 10.0625V7.4375H3.9375C3.82147 7.4375 3.71019 7.39141 3.62814 7.30936C3.54609 7.22731 3.5 7.11603 3.5 7C3.5 6.88397 3.54609 6.77269 3.62814 6.69064C3.71019 6.60859 3.82147 6.5625 3.9375 6.5625H6.5625V3.9375C6.5625 3.82147 6.60859 3.71019 6.69064 3.62814C6.77269 3.54609 6.88397 3.5 7 3.5Z"></path>
                  </g>
                </svg>
                <span class="relative z-10">Add Property</span>
              </a>
            </div>
          </nav>
          <div id="menu" class="md:w-[20rem] xs:w-[18rem] z-50 h-full -translate-x-full overflow-y-auto bg-white fixed top-0 left-0">
            <div class="flex justify-between border-b border-black/50 w-full py-5 px-3">
              <img src="/imgs/sb-logo.svg" loading="lazy" alt="">
              <button id="closeMenu" class="w-10 h-10 rounded-full text-white text-2xl flex items-center justify-center bg-[#efb93f]"><i class='bx bx-x'></i></button>
            </div>
            <div class="flex flex-col gap-10 border-b border-black/50 py-10 font-semibold px-5">
              <a href="#">HOME</a>
              <a href="/forSale">FOR SALE</a>
              <a href="/forRent">FOR RENT</a>
              <a href="/properties">PROPERTY</a>
              <a href="/contact">CONTACT US</a>
            </div>
            <div class="flex flex-col border-b border-black/50 gap-10 py-10 px-5">
              <a id="addP" href="/addProperty" class="flex relative gap-2 justify-center w-[70%] bg-black rounded-lg py-3 text-black hover:text-white items-center transition-all duration-500 fill-black hover:fill-white font-semibold overflow-hidden">
                <svg class=" relative z-10" xmlns="http://www.w3.or g/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                  <g clip-path="url(#clip0_485_1365)">
                    <path d="M7 13.125C5.37555 13.125 3.81763 12.4797 2.66897 11.331C1.52031 10.1824 0.875 8.62445 0.875 7C0.875 5.37555 1.52031 3.81763 2.66897 2.66897C3.81763 1.52031 5.37555 0.875 7 0.875C8.62445 0.875 10.1824 1.52031 11.331 2.66897C12.4797 3.81763 13.125 5.37555 13.125 7C13.125 8.62445 12.4797 10.1824 11.331 11.331C10.1824 12.4797 8.62445 13.125 7 13.125ZM7 14C8.85652 14 10.637 13.2625 11.9497 11.9497C13.2625 10.637 14 8.85652 14 7C14 5.14348 13.2625 3.36301 11.9497 2.05025C10.637 0.737498 8.85652 0 7 0C5.14348 0 3.36301 0.737498 2.05025 2.05025C0.737498 3.36301 0 5.14348 0 7C0 8.85652 0.737498 10.637 2.05025 11.9497C3.36301 13.2625 5.14348 14 7 14Z"></path>
                    <path d="M7 3.5C7.11603 3.5 7.22731 3.54609 7.30936 3.62814C7.39141 3.71019 7.4375 3.82147 7.4375 3.9375V6.5625H10.0625C10.1785 6.5625 10.2898 6.60859 10.3719 6.69064C10.4539 6.77269 10.5 6.88397 10.5 7C10.5 7.11603 10.4539 7.22731 10.3719 7.30936C10.2898 7.39141 10.1785 7.4375 10.0625 7.4375H7.4375V10.0625C7.4375 10.1785 7.39141 10.2898 7.30936 10.3719C7.22731 10.4539 7.11603 10.5 7 10.5C6.88397 10.5 6.77269 10.4539 6.69064 10.3719C6.60859 10.2898 6.5625 10.1785 6.5625 10.0625V7.4375H3.9375C3.82147 7.4375 3.71019 7.39141 3.62814 7.30936C3.54609 7.22731 3.5 7.11603 3.5 7C3.5 6.88397 3.54609 6.77269 3.62814 6.69064C3.71019 6.60859 3.82147 6.5625 3.9375 6.5625H6.5625V3.9375C6.5625 3.82147 6.60859 3.71019 6.69064 3.62814C6.77269 3.54609 6.88397 3.5 7 3.5Z"></path>
                  </g>
                </svg>
                <span class="relative z-10">Add Property</span>
              </a>
            </div>
            <div class="flex gap-2 py-5 items-center">
              <div class="border-r border-gray-300 px-5">
                <svg width="26" height="27" viewBox="0 0 26 27" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5365 14.7303C12.5652 14.7257 11.6003 14.5735 10.6748 14.2788C9.94838 14.0358 9.29948 13.6044 8.79429 13.0286C8.28911 12.4529 7.94573 11.7534 7.79922 11.0016C7.47293 9.43032 8.06788 7.76895 9.43026 6.44297C9.57662 6.30051 9.7287 6.16404 9.88612 6.03391C10.5733 5.45852 11.3903 5.05903 12.2664 4.86992C13.1425 4.6808 14.0515 4.70775 14.9149 4.94843C15.7429 5.21282 16.4688 5.72699 16.9929 6.42036C17.5171 7.11374 17.8138 7.95233 17.8424 8.82106C17.906 9.84579 17.572 10.8556 16.9099 11.6403C16.6595 11.9557 16.3269 12.196 15.9488 12.3349C15.5708 12.4737 15.1617 12.5056 14.7667 12.4272C14.6037 12.3934 14.4491 12.327 14.3124 12.2321C14.1756 12.1371 14.0594 12.0156 13.9707 11.8747C13.891 11.7379 13.8399 11.5863 13.8202 11.4292C13.8006 11.2721 13.8128 11.1127 13.8563 10.9604C14.2354 9.52782 14.6206 7.35079 14.6245 7.32912C14.6344 7.27307 14.6553 7.21952 14.6859 7.17152C14.7165 7.12353 14.7562 7.08203 14.8029 7.04939C14.8495 7.01676 14.9021 6.99363 14.9577 6.98133C15.0133 6.96903 15.0707 6.96779 15.1268 6.97769C15.1828 6.9876 15.2364 7.00844 15.2844 7.03904C15.3324 7.06964 15.3739 7.10939 15.4065 7.15602C15.4391 7.20266 15.4623 7.25527 15.4746 7.31084C15.4869 7.36641 15.4881 7.42387 15.4782 7.47992C15.4622 7.57048 15.0826 9.71458 14.6943 11.1818C14.6806 11.2221 14.6753 11.2647 14.6787 11.3071C14.682 11.3495 14.694 11.3908 14.7138 11.4284C14.7738 11.5112 14.8642 11.5669 14.9651 11.5831C15.2071 11.6235 15.4554 11.597 15.6834 11.5065C15.9114 11.416 16.1103 11.2649 16.2586 11.0696C16.7728 10.4546 17.0303 9.66518 16.9779 8.86526C16.9573 8.17371 16.7231 7.5055 16.3075 6.95233C15.892 6.39916 15.3155 5.98813 14.657 5.77565C13.9317 5.57612 13.1686 5.55608 12.4338 5.71726C11.6989 5.87843 11.0143 6.21599 10.439 6.7008C10.2999 6.8165 10.1643 6.93739 10.0343 7.06393C9.36093 7.71912 8.28498 9.07889 8.64767 10.8252C8.76741 11.4247 9.04172 11.9826 9.44341 12.4435C9.8451 12.9044 10.3602 13.2524 10.9378 13.4529C12.9701 14.1011 15.8907 14.1796 17.429 12.2664C17.5019 12.1798 17.6058 12.1251 17.7185 12.114C17.8312 12.103 17.9438 12.1365 18.0321 12.2074C18.1203 12.2783 18.1774 12.381 18.1909 12.4934C18.2045 12.6058 18.1735 12.7191 18.1046 12.809C16.9667 14.2242 15.2351 14.7303 13.5365 14.7303Z"></path>
                  <path d="M12.0531 12.4839C11.595 12.4919 11.1481 12.3418 10.7878 12.0588C9.9562 11.3933 9.93324 10.2367 10.1664 9.44935C10.2452 9.18719 10.3505 8.93369 10.4814 8.69319C10.8065 8.03717 11.3264 7.49763 11.9699 7.14839C12.3602 6.94593 12.8052 6.87437 13.2393 6.94429C13.6734 7.0142 14.0735 7.22188 14.3805 7.53665C14.6932 7.87932 14.9287 8.28509 15.0712 8.72656C15.107 8.83416 15.0992 8.95151 15.0495 9.05343C14.9998 9.15536 14.9121 9.23373 14.8052 9.27173C14.6984 9.30972 14.5809 9.30432 14.478 9.25668C14.3751 9.20903 14.295 9.12295 14.2548 9.01689C14.1521 8.69084 13.9813 8.39029 13.7539 8.13507C13.5751 7.95216 13.3414 7.83271 13.0884 7.79492C12.8354 7.75714 12.577 7.80309 12.3525 7.92577C11.8699 8.19795 11.4821 8.61118 11.241 9.11005C11.1398 9.29704 11.058 9.49394 10.9971 9.69765C10.8285 10.267 10.8658 11.0106 11.3303 11.3824C11.8381 11.7906 12.6953 11.6181 13.1776 11.2022C13.5368 10.8785 13.8454 10.5029 14.0932 10.0876C14.1232 10.0393 14.1624 9.99729 14.2087 9.96409C14.2549 9.93089 14.3073 9.90712 14.3627 9.89414C14.4181 9.88117 14.4756 9.87923 14.5317 9.88845C14.5879 9.89768 14.6417 9.91787 14.6901 9.94789C14.7384 9.97791 14.7804 10.0172 14.8136 10.0634C14.8468 10.1096 14.8706 10.162 14.8836 10.2174C14.8966 10.2728 14.8985 10.3303 14.8893 10.3864C14.88 10.4426 14.8598 10.4964 14.8298 10.5448C14.5361 11.0339 14.1705 11.4761 13.7452 11.8565C13.2714 12.2563 12.673 12.4782 12.0531 12.4839Z"></path>
                  <path d="M24.7001 26.0015H1.30047C0.955797 26.0012 0.625342 25.8641 0.381624 25.6204C0.137905 25.3767 0.00083252 25.0462 0.000488366 24.7015V8.66847C0.000436861 8.58609 0.0238662 8.50541 0.0680306 8.43587C0.112195 8.36634 0.175264 8.31083 0.249847 8.27586C0.32443 8.24089 0.407436 8.2279 0.489137 8.23842C0.570838 8.24893 0.647849 8.28252 0.711144 8.33524L11.3432 17.1716C11.8096 17.557 12.3957 17.7678 13.0007 17.7678C13.6057 17.7678 14.1918 17.557 14.6582 17.1716L25.2894 8.33481C25.3527 8.28206 25.4298 8.24847 25.5115 8.23797C25.5933 8.22747 25.6763 8.24049 25.7509 8.27552C25.8255 8.31054 25.8886 8.36612 25.9327 8.43571C25.9768 8.50531 26.0002 8.58606 26.0001 8.66847V24.7015C25.9997 25.0462 25.8627 25.3767 25.6189 25.6204C25.3752 25.8641 25.0448 26.0012 24.7001 26.0015ZM0.867141 9.59189V24.7015C0.867141 24.9407 1.06127 25.1349 1.30047 25.1349H24.7001C24.815 25.1349 24.9252 25.0892 25.0065 25.008C25.0878 24.9267 25.1334 24.8165 25.1334 24.7015V9.59189L15.2111 17.8381C14.5891 18.3521 13.8075 18.6334 13.0007 18.6335C12.1938 18.6337 11.412 18.3527 10.7899 17.839L0.867141 9.59189Z"></path>
                  <path d="M0.434172 9.10179C0.342147 9.10197 0.252454 9.07285 0.178087 9.01864C0.103719 8.96444 0.0485401 8.88797 0.020542 8.8003C-0.00745601 8.71264 -0.00681877 8.61834 0.0223615 8.53106C0.0515417 8.44379 0.10775 8.36807 0.182842 8.31487L4.08278 5.55025C4.17656 5.48377 4.29291 5.45726 4.40623 5.47656C4.51955 5.49586 4.62057 5.55939 4.68705 5.65316C4.75354 5.74694 4.78005 5.86329 4.76075 5.97662C4.74145 6.08994 4.67792 6.19095 4.58414 6.25744L0.684201 9.02206C0.611181 9.074 0.52378 9.10187 0.434172 9.10179ZM25.5662 9.10179C25.4766 9.10187 25.3892 9.074 25.3162 9.02206L21.4163 6.25744C21.3235 6.19062 21.2609 6.08984 21.242 5.97706C21.2232 5.86427 21.2498 5.74862 21.3159 5.65531C21.382 5.56201 21.4823 5.4986 21.5949 5.47892C21.7075 5.45924 21.8234 5.48488 21.9172 5.55025L25.8171 8.31487C25.8922 8.36802 25.9483 8.44367 25.9775 8.53086C26.0067 8.61805 26.0075 8.71227 25.9796 8.79989C25.9517 8.88751 25.8966 8.96399 25.8224 9.01826C25.7482 9.07253 25.6582 9.10179 25.5662 9.10179ZM17.0041 3.03522C16.9144 3.0353 16.8269 3.00744 16.7537 2.95549L14.6824 1.48651C14.2165 1.09272 13.6271 0.874976 13.0171 0.871254C12.4071 0.867532 11.8151 1.07807 11.3445 1.46615L9.24716 2.95549C9.15339 3.02198 9.03704 3.04848 8.92371 3.02918C8.81039 3.00988 8.70937 2.94635 8.64289 2.85258C8.57641 2.7588 8.5499 2.64245 8.5692 2.52912C8.5885 2.4158 8.65203 2.31479 8.74581 2.2483L10.8171 0.779325C11.4376 0.271931 12.2154 -0.00360176 13.017 3.55561e-05C13.8186 0.00367287 14.5938 0.286253 15.2097 0.799258L17.255 2.2483C17.3301 2.3015 17.3863 2.37722 17.4155 2.46449C17.4447 2.55177 17.4453 2.64607 17.4173 2.73373C17.3893 2.8214 17.3342 2.89787 17.2598 2.95207C17.1854 3.00628 17.0957 3.0354 17.0037 3.03522H17.0041ZM0.715401 25.7675C0.626173 25.7677 0.539066 25.7403 0.465979 25.6891C0.392892 25.638 0.337387 25.5655 0.307046 25.4815C0.276706 25.3976 0.273008 25.3064 0.296459 25.2203C0.31991 25.1342 0.369366 25.0575 0.438072 25.0005L10.3266 16.7847C10.3704 16.7483 10.4209 16.7209 10.4753 16.7041C10.5296 16.6873 10.5868 16.6813 10.6435 16.6865C10.7001 16.6918 10.7552 16.7082 10.8056 16.7347C10.8559 16.7612 10.9006 16.7974 10.9369 16.8412C10.9733 16.885 11.0007 16.9355 11.0175 16.9899C11.0343 17.0443 11.0403 17.1014 11.0351 17.1581C11.0298 17.2148 11.0134 17.2699 10.9869 17.3202C10.9604 17.3706 10.9242 17.4152 10.8804 17.4516L0.991863 25.6674C0.914246 25.7321 0.816424 25.7675 0.715401 25.7675ZM25.2846 25.7675C25.1835 25.7676 25.0857 25.7322 25.0081 25.6674L15.1196 17.4516C15.0747 17.4156 15.0374 17.371 15.0099 17.3204C14.9824 17.2699 14.9652 17.2143 14.9594 17.1571C14.9536 17.0998 14.9593 17.042 14.9761 16.9869C14.9929 16.9319 15.0205 16.8807 15.0573 16.8365C15.0941 16.7922 15.1393 16.7557 15.1903 16.7291C15.2414 16.7025 15.2972 16.6863 15.3546 16.6816C15.4119 16.6768 15.4697 16.6835 15.5244 16.7013C15.5791 16.719 15.6298 16.7475 15.6734 16.7851L25.5619 25.001C25.6306 25.0579 25.6801 25.1347 25.7035 25.2207C25.727 25.3068 25.7233 25.3981 25.6929 25.482C25.6626 25.5659 25.6071 25.6384 25.534 25.6896C25.4609 25.7408 25.3738 25.7677 25.2846 25.7675Z"></path>
                  <path d="M21.667 12.343C21.5521 12.343 21.4419 12.2974 21.3606 12.2161C21.2793 12.1348 21.2337 12.0246 21.2337 11.9097V3.03864C21.2324 3.0473 21.2151 3.03517 21.186 3.03517H4.81495C4.80548 3.0346 4.79598 3.03595 4.78704 3.03916C4.77811 3.04236 4.76991 3.04734 4.76295 3.0538L4.76729 11.9097C4.76729 12.0246 4.72163 12.1348 4.64037 12.2161C4.5591 12.2974 4.44889 12.343 4.33396 12.343C4.21904 12.343 4.10882 12.2974 4.02755 12.2161C3.94629 12.1348 3.90063 12.0246 3.90063 11.9097V3.03517C3.90744 2.79916 4.00747 2.57546 4.17883 2.41303C4.35019 2.25061 4.57892 2.16269 4.81495 2.16852H21.186C21.4221 2.16269 21.6508 2.25061 21.8222 2.41303C21.9935 2.57546 22.0935 2.79916 22.1003 3.03517V11.9097C22.1003 12.0246 22.0547 12.1348 21.9734 12.2161C21.8922 12.2974 21.7819 12.343 21.667 12.343Z"></path>
                </svg>
              </div>
              <div>
                <p>To More Inquiry</p>
                <p>03032150993</p>
              </div>
            </div>
          </div>
          <nav class="md:flex pt-20 xs:hidden text-white justify-between px-5 w-full py-3 border-b border-gray-200 items-center">
            <div>
              <img src="/imgs/home2-logo.svg" loading="lazy" alt="">
            </div>
            <div class="flex gap-5 font-semibold">
              <a class="transition-all duration-500 hover:text-[#EFB93F]" href="/newly_listing">Newly Listed Home</a>
              <a class="transition-all duration-500 hover:text-[#EFB93F]" href=" #">Lowest Price</a>
            </div>
            <div class="flex gap-2 items-center">
              <div class="border-r border-gray-300 px-5">
                <i class='bx bx-phone-call text-3xl'></i>
              </div>
              <div>
                <p>To More Inquiry</p>
                <p>03032150993</p>
              </div>
            </div>
          </nav>
          <section class="py-32 flex flex-col gap-6 text-white xs:pl-8 md:pl-16">
            <div class="overflow-hidden">
              <h1 id="homeMh1" class="md:text-6xl xs:text-3xl leading-[68px] font-bold">Nekal Valley Real <br> State</h1>
            </div>
            <div class="overflow-hidden">
              <p id="homeMh1">To help nekal company stand out and make an impression on potential.</p>
            </div>
            <div class="flex gap-5 items-center py-5 flex-wrap">
              <a id="addP" href="/properties" class="flex w-[195px] relative gap-2 px-5 bg-black rounded-lg py-3 text-black hover:text-white items-center transition-all duration-500 fill-black hover:fill-white font-semibold overflow-hidden">
                <svg class="relative z-10" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                  <g mask="url(#mask0_485_1352)">
                    <path d="M17.0989 15.5563C17.0993 15.5432 17.0995 15.5302 17.0995 15.5172C17.0992 15.1881 16.9726 14.8726 16.7477 14.6399C16.5227 14.4071 16.2177 14.2762 15.8996 14.2759V8.53448L16.9795 7.69655C17.0171 7.66745 17.0474 7.62965 17.0683 7.5862C17.0891 7.54275 17.0998 7.49485 17.0995 7.44635C17.0992 7.39785 17.088 7.35009 17.0666 7.30691C17.0452 7.26373 17.0144 7.22633 16.9765 7.19771L14.3997 5.24956V1.86207C14.4793 1.86207 14.5556 1.82937 14.6118 1.77117C14.6681 1.71297 14.6997 1.63403 14.6997 1.55172V0.310345C14.6997 0.228036 14.6681 0.149099 14.6118 0.0908979C14.5556 0.0326969 14.4793 0 14.3997 0H11.3999C11.3203 0 11.244 0.0326969 11.1877 0.0908979C11.1315 0.149099 11.0999 0.228036 11.0999 0.310345V1.55172C11.0999 1.63403 11.1315 1.71297 11.1877 1.77117C11.244 1.82937 11.3203 1.86207 11.3999 1.86207V2.98168L9.17699 1.30116C9.12561 1.26232 9.06363 1.24139 9 1.24139C8.93637 1.24139 8.87439 1.26232 8.82301 1.30116L1.02345 7.19771C0.985599 7.22633 0.954756 7.26373 0.933399 7.30691C0.912041 7.35009 0.900764 7.39785 0.900472 7.44635C0.900181 7.49485 0.910882 7.54275 0.931719 7.5862C0.952556 7.62965 0.982947 7.66745 1.02045 7.69655L2.10039 8.53448V14.2759C1.78226 14.2762 1.47726 14.4071 1.25231 14.6399C1.02735 14.8726 0.900818 15.1881 0.900461 15.5172C0.900461 15.5302 0.900686 15.5432 0.901136 15.5563C0.618136 15.6316 0.371411 15.8111 0.207254 16.0612C0.0430969 16.3113 -0.027211 16.6148 0.00952183 16.9147C0.0462547 17.2146 0.187504 17.4903 0.406767 17.6901C0.626031 17.8899 0.908239 18.0001 1.20044 18H16.7996C17.0918 18.0001 17.374 17.8899 17.5932 17.6901C17.8125 17.4903 17.9537 17.2146 17.9905 16.9147C18.0272 16.6148 17.9569 16.3113 17.7927 16.0612C17.6286 15.8111 17.3819 15.6316 17.0989 15.5563ZM11.6998 0.62069H14.0997V1.24138H11.6998V0.62069ZM11.9998 3.41379V1.86207H13.7997V4.79599L11.9714 3.41379H11.9998ZM9 1.93609L16.2954 7.45153L15.5969 7.99351L9.17647 3.1628C9.12519 3.12421 9.06341 3.10343 9 3.10343C8.93659 3.10343 8.87481 3.12421 8.82353 3.1628L2.40311 7.99351L1.7046 7.45153L9 1.93609ZM0.600478 16.7586C0.600644 16.5957 0.662678 16.4393 0.773215 16.3232C0.883752 16.2071 1.03395 16.1406 1.19144 16.1379H1.19216C1.20749 16.1401 1.22283 16.142 1.23847 16.1431C1.28818 16.1463 1.33789 16.1367 1.38311 16.1151C1.42833 16.0935 1.46765 16.0606 1.4975 16.0194C1.52735 15.9781 1.54681 15.9298 1.55411 15.8788C1.56141 15.8279 1.55632 15.7758 1.53931 15.7274C1.51449 15.6603 1.50132 15.5891 1.50043 15.5172C1.50062 15.3527 1.56389 15.1949 1.67636 15.0786C1.78884 14.9622 1.94133 14.8967 2.10039 14.8966V17.3793H1.20044C1.04138 17.3791 0.888887 17.3137 0.776412 17.1973C0.663938 17.0809 0.600666 16.9232 0.600478 16.7586ZM13.4997 17.3793H9.89995V10.5517H13.4997V17.3793ZM14.0997 17.3793V10.2414C14.0997 10.1591 14.0681 10.0801 14.0118 10.0219C13.9556 9.96373 13.8793 9.93103 13.7997 9.93103H9.59997C9.5204 9.93103 9.4441 9.96373 9.38785 10.0219C9.33159 10.0801 9.29998 10.1591 9.29998 10.2414V17.3793H2.70036V8.53735L9 3.79753L15.2996 8.53735V17.3793H14.0997ZM16.7996 17.3793H15.8996V14.8966C16.0587 14.8967 16.2112 14.9622 16.3236 15.0786C16.4361 15.1949 16.4994 15.3527 16.4996 15.5172C16.4987 15.5892 16.4855 15.6604 16.4607 15.7275C16.4437 15.776 16.4386 15.828 16.4459 15.879C16.4532 15.93 16.4726 15.9783 16.5025 16.0195C16.5324 16.0608 16.5717 16.0937 16.6169 16.1153C16.6621 16.1369 16.7118 16.1465 16.7615 16.1432C16.7772 16.1422 16.7925 16.1403 16.8078 16.1381H16.8086C16.9677 16.1393 17.1198 16.2059 17.2315 16.3232C17.3431 16.4404 17.4052 16.5988 17.404 16.7634C17.4028 16.928 17.3385 17.0854 17.2251 17.201C17.1118 17.3165 16.9587 17.3807 16.7996 17.3795V17.3793Z"></path>
                    <path d="M7.79919 9.93164H4.1994C4.11984 9.93164 4.04353 9.96434 3.98728 10.0225C3.93102 10.0807 3.89941 10.1597 3.89941 10.242V14.5868C3.89941 14.6691 3.93102 14.7481 3.98728 14.8063C4.04353 14.8645 4.11984 14.8972 4.1994 14.8972H7.79919C7.87875 14.8972 7.95505 14.8645 8.01131 14.8063C8.06757 14.7481 8.09917 14.6691 8.09917 14.5868V10.242C8.09917 10.1597 8.06757 10.0807 8.01131 10.0225C7.95505 9.96434 7.87875 9.93164 7.79919 9.93164ZM7.49921 12.1041H6.29928V10.5523H7.49921V12.1041ZM5.69931 10.5523V12.1041H4.49938V10.5523H5.69931ZM4.49938 12.7247H5.69931V14.2765H4.49938V12.7247ZM6.29928 14.2765V12.7247H7.49921V14.2765H6.29928Z"></path>
                    <path d="M11.0783 13.774C11.1417 13.6157 11.069 13.4342 10.9159 13.3686C10.7629 13.303 10.5874 13.3782 10.524 13.5365C10.4606 13.6949 10.5333 13.8764 10.6863 13.942C10.8394 14.0076 11.0149 13.9324 11.0783 13.774Z"></path>
                  </g>
                </svg>
                <span class="relative z-10">Find Property</span>
              </a>
              <div class="flex flex-col gap-2">
                <div class="flex gap-5">
                  <img src="/imgs/trustpilot-logo2.svg" loading="lazy" alt="">
                  <img src="/imgs/trustpilot-star.svg" loading="lazy" alt="">
                </div>
                <h1>Trust Ratings 5.0 | 2354 Reviews</h1>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="py-10 bg-[#13141A] text-white overflow-hidden text-2xl font-semibold">
      <div class=" marquee flex items-center gap-5 whitespace-nowrap">
        <p class="inline-block text-lg">23,4500 FOR SALE HOME AVAILABLE </p>
        <img src="/imgs/text-slider-vec.svg" loading="lazy" alt="">
        <p class="inline-block text-lg">GET 30% OFFER FOR RENT </p>
        <img src="/imgs/text-slider-vec.svg" loading="lazy" alt="">
        <p class="inline-block text-lg">TO GET YOUR DREAM HOME</p>
        <img src="/imgs/text-slider-vec.svg" loading="lazy" alt="">
        <p class="inline-block text-lg">4,500 NEW HOME AVAILABLE</p>
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-[1300px] mx-auto pt-52 overflow-hidden xs:px-3 md:px-16 gap-10 grid md:grid-cols-1 xl:grid-cols-3">
      <div class="xs:col-span-2 md:col-auto">
        <img id="aboutimg1" class="rounded-lg w-full" loading="lazy" src="/imgs/About/home2-about-img1.png" alt="">
      </div>
      <div class="col-span-2 relative">
        <div class="overflow-hidden">
          <p id="abouth1" class="text-golden font-semibold text-xl">(since 1994)</p>
        </div>
        <div class="overflow-hidden">
          <h1 id="abouth1" class="md:text-5xl xs:text-3xl font-semibold">
            Get To Know About Neckle
          </h1>
        </div>
        <div class="overflow-hidden">
          <h2 id="abouth1" class="text-xl my-4 font-semibold">
            Welcome to our Neckle!
          </h2>
        </div>
        <p class="text-gray-600 leading-[35px]">
          We're thrilled to have you join our community of automotive enthusiasts and professionals. Whether you're a passionate driver, a car owner, or someone who loves all things automotive, you've come to the right place.At neckle, we strive to create a space where people can connect, share knowledge, and explore the exciting world of automobiles.
        </p>
        <div class="py-16 grid xs:grid-cols-1 sm:gap-1 xs:gap-5 sm:grid-cols-3">
          <div class="xs:flex sm:block flex-col items-center">
            <img src="/imgs/About/author-signature.svg" loading="lazy" alt="">
            <h2 class="font-semibold mt-2">Natrison <br> Mongla <br>
              (CEO & Founder)</h2>
          </div>
          <div class="col-span-2">
            <img id="aboutimg2" class="rounded-lg" class="w-full" loading="lazy" src="/imgs/About/home2-about-img2.png" alt="">
          </div>
        </div>
        <div class="xl:absolute -left-[430px] bottom-32">
          <div class="flex xs:gap-2 overflow-hidden flex-wrap md:gap-10 justify-between items-center">
            <div id="review" class="flex gap-2 items-center">
              <img class="md:w-10 xs:w-8 " loading="lazy" src="/imgs/About/home1.svg" alt="">
              <div>
                <p id="clientCount" class="md:text-4xl xs:text-xl font-bold">0</p>
                <p class="">Project Completed</p>
              </div>
            </div>
            <div id="review" class="flex gap-2 items-center">
              <img class="md:w-10 xs:w-8 " loading="lazy" src="/imgs/About/home1.svg" alt="">
              <div>
                <p id="clientCount" class="md:text-4xl xs:text-xl font-bold">0</p>
                <p class="">Project Sold</p>
              </div>
            </div>
            <div id="review" class="flex gap-2 items-center">
              <img class="md:w-10 xs:w-8 " loading="lazy" src="/imgs/About/home1.svg" alt="">
              <div>
                <p id="clientCount" class="md:text-4xl xs:text-xl font-bold">0</p>
                <p class="">Experienced</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-[1300px] mx-auto py-20 xs:px-3 md:px-16">
      <div class="flex justify-between w-full">
        <div>
          <div class="overflow-hidden">
            <h1 id="sliderh1" class="md:text-5xl xs:text-3xl font-bold ">Properties By Cities</h1>
          </div>
          <div class="overflow-hidden">
            <h2 id="sliderh1" class=" mt-2 text-gray-500">Here are some of the featured Apartment in different categories</h2>
          </div>
        </div>
      </div>
      <div class="swiper mySwiper py-10 w-full cursor-grab active:cursor-grabbing select-none">
        <div class="relative flex items-center gap-5 justify-end -top-10">
          <div class=" custom-button-next w-10 h-10 rounded-full border border-golden flex items-center justify-center transition-all duration-500 hover:bg-golden hover:fill-black fill-golden">
            <svg width="15" height="15" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 6.50008L8 0L2.90909 6.50008L8 13L0 6.50008Z"></path>
            </svg>
          </div>
          <div class=" custom-button-prev w-10 h-10 rounded-full border border-golden flex items-center justify-center transition-all duration-500 hover:bg-golden hover:fill-black fill-golden">
            <svg width="15" height="15" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 6.50008L0 0L5.09091 6.50008L0 13L8 6.50008Z"></path>
            </svg>
          </div>
        </div>
        <div class="swiper-wrapper">
          <% data.forEach((items) => {%>
          <div class="swiper-slide p-3 w-full h-full border border-golden/50 rounded-lg transition-all duration-500 hover:border-golden">
            <div id="arrowRapper" class="w-full relative h-[15rem]">
              <img class="rounded-lg w-full object-cover h-full" src="<%= items.image.imgFilepath %>" src>
              <button class="absolute top-3 right-3 w-10 rounded-full h-10 flex items-center justify-center text-2xl bg-white transition-all duration-500 hover:bg-golden"><i class='bx bx-heart'></i></button>
              <a href="/propertyinfo/<%= items._id %>" id="arrowbtn" class="absolute -bottom-5 right-3 w-10 rounded-full bg-[#FAF8FB] h-10 flex items-center justify-center text-2xl transition-all duration-500 hover:bg-golden"><i id="arrows" class='bx bx-right-arrow-alt text-black/50 -rotate-45 transition-all duration-500'></i></a>
            </div>
            <h2 class="py-3 text-xl font-semibold"><%= items.propertyName %></h2>
            <h3><%= items.propertyType %></h3>
          </div>
          <%}) %>
          <% data.forEach((items) => {%>
          <div class="swiper-slide p-3 w-full h-full border border-golden/50 rounded-lg transition-all duration-500 hover:border-golden">
            <div id="arrowRapper" class="w-full relative h-[15rem]">
              <img class="rounded-lg w-full object-cover h-full" loading="lazy" src="<%= items.image.imgFilepath %>" alt="<%= items.image.imgFilename %>">
              <button class="absolute top-3 right-3 w-10 rounded-full h-10 flex items-center justify-center text-2xl bg-white transition-all duration-500 hover:bg-golden"><i class='bx bx-heart'></i></button>
              <a href="/propertyinfo/<%= items._id %>" id="arrowbtn" class="absolute -bottom-5 right-3 w-10 rounded-full bg-[#FAF8FB] h-10 flex items-center justify-center text-2xl transition-all duration-500 hover:bg-golden"><i id="arrows" class='bx bx-right-arrow-alt text-black/50 -rotate-45 transition-all duration-500'></i></a>
            </div>
            <h2 class="py-3 text-2xl font-semibold"><%= items.propertyName %></h2>
            <h3><%= items.propertyType %></h3>
          </div>
          <%}) %>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-[1300px] mx-auto py-20 bg-[#FBF8FD] xs:px-3 lg:px-16">
      <div class="overflow-hidden">
        <h1 id="chooseh1" class="md:text-5xl xs:text-3xl font-bold text-center mb-3">Why Only Choose Neckle</h1>
      </div>
      <div class="overflow-hidden">
        <p id="chooseh1" class=" mt-2 text-gray-500 text-center">Here are some of the featured Apartment in different categories</p>
      </div>
      <div class="grid xs:grid-cols-1 lg:grid-cols-2 gap-5 py-16">
        <div class="flex flex-col">
          <div class="flex gap-5 border-l-[2px] transition-all duration-500 hover:border-l-golden border-b border-gray-200 px-5 py-7">
            <div>
              <img class="w-[150px] xs:p-1 lg:p-3 rounded-lg border border-golden" src="/imgs/choose/affordable.svg" loading="lazy" alt="">
            </div>
            <div>
              <h3 class="md:text-3xl xs:text-xl font-semibold "><span class="text-golden">Affordable</span> Price</h3>
              <p>
                An affordable price for a luxury car may be significantly higher than an affordable price for a budget car...
              </p>
            </div>
          </div>
          <div class="flex gap-5 border-l-[2px] transition-all duration-500 hover:border-l-golden border-gray-200 px-5 py-7">
            <div>
              <img class=" w-[150px] xs:p-1 lg:p-3 rounded-lg border border-golden" src="/imgs/choose/affordable.svg" loading="lazy" alt="">
            </div>
            <div>
              <h3 class="md:text-3xl xs:text-xl font-semibold "><span class="text-golden">Affordable</span> Price</h3>
              <p>
                An affordable price for a luxury car may be significantly higher than an affordable price for a budget car...
              </p>
            </div>
          </div>
          <div class="flex gap-5 border-l-[2px] transition-all duration-500 hover:border-l-golden border-gray-200 px-5 py-7">
            <div>
              <img class="w-[150px] xs:p-1 lg:p-3 rounded-lg border border-golden" src="/imgs/choose/affordable.svg" loading="lazy" alt="">
            </div>
            <div>
              <h3 class="md:text-3xl xs:text-xl font-semibold "><span class="text-golden">Affordable</span> Price</h3>
              <p>
                An affordable price for a luxury car may be significantly higher than an affordable price for a budget car...
              </p>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-6 relative overflow-hidden">
          <img id="neckleimg1" class="w-full h-full object-cover rounded-lg" src="/imgs/choose/choose-01.png" loading="lazy" alt="">
          <div class="relative">
            <img id="neckleimg2" class=" w-full h-full object-cover rounded-lg" src="/imgs/choose/choose-02.png" loading="lazy" alt="">
            <div id="hoverEl" class="transition-all duration-500 absolute top-1/2 -translate-y-1/2 xs:-left-[40px] lg:-left-[70px] bg-black border-[5px] border-golden xs:p-2 md:p-3 lg:p-5 -rotate-45">
              <img id="rotate2" class="transition-all duration-500 rotate-45 md:w-[50px] xs:w-[30px] lg:w-[70px]" src="/imgs/choose/house-1.svg" loading="lazy" alt="">
            </div>
          </div>
        </div>
      </div>
      <%- include('../common/trustpilot.ejs') %>
    </div>
  </section>
  <section>
    <div class="max-w-[1300px] mx-auto py-20 md:px-16 xs:px-3">
      <div class="flex justify-between w-full">
        <div>
          <h1 class="md:text-5xl xs:text-3xl font-bold ">Properties By Cities</h1>
          <h2 class=" mt-2 text-gray-500">Here are some of the featured Apartment in different categories</h2>
        </div>
      </div>
      <div class="swiper mySwiper py-10 w-full cursor-grab active:cursor-grabbing select-none">
        <div class="relative flex items-center gap-5 justify-end -top-10">
          <div class=" custom-button-next w-10 h-10 rounded-full border border-golden flex items-center justify-center transition-all duration-500 hover:bg-golden hover:fill-black fill-golden">
            <svg width="15" height="15" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 6.50008L8 0L2.90909 6.50008L8 13L0 6.50008Z"></path>
            </svg>
          </div>
          <div class=" custom-button-prev w-10 h-10 rounded-full border border-golden flex items-center justify-center transition-all duration-500 hover:bg-golden hover:fill-black fill-golden">
            <svg width="15" height="15" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 6.50008L0 0L5.09091 6.50008L0 13L8 6.50008Z"></path>
            </svg>
          </div>
        </div>
        <div class="swiper-wrapper">
          <% data.forEach((items) => {%>
          <div class="swiper-slide relative h-full border  rounded-lg transition-all duration-500 hover:border-golden">
            <div id="arrowRapper" class="w-full relative h-[15rem]">
              <img class="rounded-lg w-full object-cover h-full" src="<%= items.image.imgFilepath %>" loading="lazy" alt="<%= items.image.imgFilename %>">
              <button class="absolute top-5 right-5 w-10 rounded-full h-10 flex items-center justify-center text-2xl bg-white transition-all duration-500 hover:bg-golden"><i class='bx bx-heart'></i></button>
            </div>
            <div class=" w-full h-full p-2">
              <div class="bottom-5 left-5 font-semibold text-xl">
                <h3>$<%= items.price %></h3>
                <h3 class="mt-1"><%= items.propertyName %></h3>
                <div id="bedsInfo" class="flex gap-2 flex-wrap">
                  <div class=" flex gap-1">
                    <img src="/imgs/propertiesInfo/bed2.svg" loading="lazy" alt="">
                    <p class="text-sm font-light">beds 0<%= items.bedrooms %></p>
                  </div>
                  <div class="flex gap-1">
                    <img src="/imgs/propertiesInfo/bath2.svg" loading="lazy" alt="">
                    <p class="text-sm font-light">baths 0<%= items.bathrooms%></p>
                  </div>
                  <div class="flex gap-1">
                    <img src="/imgs/propertiesInfo/size2.svg" loading="lazy" alt="">
                    <p class="text-sm font-light">sq.ft 0<%= items.aria %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%}) %>
          <% data.forEach((items) => {%>
          <div class="swiper-slide relative h-full border  rounded-lg transition-all duration-500 hover:border-golden">
            <div id="arrowRapper" class="w-full relative h-[15rem]">
              <img class="rounded-lg w-full object-cover h-full" src="<%= items.image.imgFilepath %>" loading="lazy" alt="<%= items.image.imgFilename %>">
              <button class="absolute top-5 right-5 w-10 rounded-full h-10 flex items-center justify-center text-2xl bg-white transition-all duration-500 hover:bg-golden"><i class='bx bx-heart'></i></button>
            </div>
            <div class=" w-full h-full p-2 ">
              <div class="bottom-5 left-5 font-semibold text-xl">
                <h3>$<%= items.price %></h3>
                <h3 class="mt-1"><%= items.propertyName %></h3>
                <div id="bedsInfo" class="flex gap-2 flex-wrap">
                  <div class=" flex gap-1">
                    <img src="/imgs/propertiesInfo/bed2.svg" loading="lazy" alt="">
                    <p class="text-sm font-light">beds 0<%= items.bedrooms %></p>
                  </div>
                  <div class="flex gap-1">
                    <img src="/imgs/propertiesInfo/bath2.svg" loading="lazy" alt="">
                    <p class="text-sm font-light">baths 0<%= items.bathrooms%></p>
                  </div>
                  <div class="flex gap-1">
                    <img src="/imgs/propertiesInfo/size2.svg" loading="lazy" alt="">
                    <p class="text-sm font-light">sq.ft 0<%= items.aria %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%}) %>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-[#FAF8FB]">
    <div class="max-w-[1300px] mx-auto md:px-16 xs:px-3 py-20">
      <div class="py-10">
        <h1 class="md:text-5xl xs:text-3xl font-bold ">How Does It Work</h1>
        <h2 class=" mt-2 text-gray-500">Here are some of the featured Apartment in different categories</h2>
      </div>
      <div class="grid md:grid-cols-2 xs:grid-cols-1 lg:grid-cols-4 py-10">
        <div id="hover" class="flex relative flex-col border-t border-gray-300 gap-2 py-10 px-5 items-center text-center">
          <div class="w-9 flex absolute -top-5 items-center justify-center h-9 border-dgolden border rounded-full">
            <h1 class="bg-dgolden rounded-full w-7 h-7 flex items-center justify-center font-semibold">03</h1>
          </div>
          <div id="hoverable" class="transition-all duration-500 w-20 h-20 flex items-center justify-center bg-white rounded-full">
            <img src="/imgs/how_work/loaction.svg" loading="lazy" alt="">
          </div>
          <h3 class="text-2xl font-semibold">Pay For The Home</h3>
          <p class="text-gray-500">The real estate industry It plays a significant role in the as it contributes.</p>
        </div>
        <div id="hover" class="flex relative flex-col border-t border-gray-300 gap-2 py-10 px-5 items-center text-center">
          <div class="w-9 flex absolute -top-5 items-center justify-center h-9 border-dgolden border rounded-full">
            <h1 class="bg-dgolden rounded-full w-7 h-7 flex items-center justify-center font-semibold">03</h1>
          </div>
          <div id="hoverable" class="transition-all duration-500 w-20 h-20 flex items-center justify-center bg-white rounded-full">
            <img src="/imgs/how_work/loaction.svg" loading="lazy" alt="">
          </div>
          <h3 class="text-2xl font-semibold">Pay For The Home</h3>
          <p class="text-gray-500">The real estate industry It plays a significant role in the as it contributes.</p>
        </div>
        <div id="hover" class="flex relative flex-col border-t border-gray-300 gap-2 py-10 px-5 items-center text-center">
          <div class="w-9 flex absolute -top-5 items-center justify-center h-9 border-dgolden border rounded-full">
            <h1 class="bg-dgolden rounded-full w-7 h-7 flex items-center justify-center font-semibold">03</h1>
          </div>
          <div id="hoverable" class="transition-all duration-500 w-20 h-20 flex items-center justify-center bg-white rounded-full">
            <img src="/imgs/how_work/loaction.svg" loading="lazy" alt="">
          </div>
          <h3 class="text-2xl font-semibold">Pay For The Home</h3>
          <p class="text-gray-500">The real estate industry It plays a significant role in the as it contributes.</p>
        </div>
        <div id="hover" class="flex relative flex-col border-t border-gray-300 gap-2 py-10 px-5 items-center text-center">
          <div class="w-9 flex absolute -top-5 items-center justify-center h-9 border-dgolden border rounded-full">
            <h1 class="bg-dgolden rounded-full w-7 h-7 flex items-center justify-center font-semibold">03</h1>
          </div>
          <div id="hoverable" class="transition-all duration-500 w-20 h-20 flex items-center justify-center bg-white rounded-full">
            <img src="/imgs/how_work/loaction.svg" loading="lazy" alt="">
          </div>
          <h3 class="text-2xl font-semibold">Pay For The Home</h3>
          <p class="text-gray-500">The real estate industry It plays a significant role in the as it contributes.</p>
        </div>
      </div>
      <%- include('../common/trustpilot.ejs') %>
    </div>
  </section>
  <section class="bg-[#16191E] text-white">
    <div class="max-w-[1300px] mx-auto xs:pt-10 md:py-10 px-3 grid gap-5 lg:grid-cols-3">
      <div>
        <h3 class="tracking-[4px] mb-3 font-semibold text-dgolden ">Choose Apartment</h3>
        <h2 class="md:text-4xl xs:text-3xl xs:py-3 md:py-0 font-bold">Not Sure, Which Apartment is Best?</h2>
      </div>
      <div class="flex gap-5">
        <img src="/imgs/apartmen/Divider.svg" loading="lazy" alt="">
        <div>
          <h2>A car that is dependable and has a low risk of breakdowns is highly desirable.</h2>
        </div>
      </div>
      <div class="relative">
        <img class="lg:absolute -top-[67px]" src="/imgs/apartmen/aparment-img.png" loading="lazy" alt="">
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-[1300px] mx-auto py-20 xs:px-3 md:px-16">
      <div class="flex justify-between items-center flex-wrap">
        <div class=" py-10">
          <h1 class="md:text-5xl xs:text-3xl font-bold xs:text-center md:text-start">Our Customer Reviews</h1>
          <h2 class=" mt-2 text-gray-500 xs:text-center md:text-start">Here are some of the featured Apartment in different categories</h2>
        </div>
        <div class="flex flex-col rounded-lg gap-2 p-4 border border-gray-300">
          <div class="flex gap-5">
            <img src="/imgs/choose/trustpilot-logo.svg" loading="lazy" alt="">
            <img src="/imgs/trustpilot-star.svg" loading="lazy" alt="">
          </div>
          <h2>Trust ratting 5.0 | 2348 reviews</h2>
        </div>
      </div>
      <div class="swiper swiper-container py-10 w-full cursor-grab active:cursor-grabbing select-none">
        <div class="relative flex items-center gap-5 justify-end -top-10">
          <div class=" custom-button-next w-10 h-10 rounded-full border border-golden flex items-center justify-center transition-all duration-500 hover:bg-golden hover:fill-black fill-golden">
            <svg width="15" height="15" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 6.50008L8 0L2.90909 6.50008L8 13L0 6.50008Z"></path>
            </svg>
          </div>
          <div class=" custom-button-prev w-10 h-10 rounded-full border border-golden flex items-center justify-center transition-all duration-500 hover:bg-golden hover:fill-black fill-golden">
            <svg width="15" height="15" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 6.50008L0 0L5.09091 6.50008L0 13L8 6.50008Z"></path>
            </svg>
          </div>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide relative rounded-lg transition-all duration-500 hover:border-golden px-5 py-14 flex flex-col gap-10 border border-gray-300">
            <div class="w-full flex justify-between items-center ">
              <img src="/imgs/trustpilot-star.svg" alt="">
              <h2>Trusted Company</h2>
            </div>
            <p class="text-gray-500 font-semibold leading-[32px]">
              neckle-Agency customer feedback
              is an invaluable source of
              information that can help
              businesses improve their
              offerings and provide better
              experiences.
            </p>
            <p><span class="font-bold">Jhon Abraham,</span> 25 minuts ago</p>
          </div>
          <div class="swiper-slide relative rounded-lg transition-all duration-500 hover:border-golden px-5 py-14 flex flex-col gap-10 border border-gray-300">
            <div class="w-full flex justify-between items-center ">
              <img src="/imgs/trustpilot-star.svg" loading="lazy" alt="">
              <h2>Trusted Company</h2>
            </div>
            <p class="text-gray-500 font-semibold leading-[32px]">
              neckle-Agency customer feedback
              is an invaluable source of
              information that can help
              businesses improve their
              offerings and provide better
              experiences.
            </p>
            <p><span class="font-bold">Jhon Abraham,</span> 25 minuts ago</p>
          </div>
          <div class="swiper-slide relative rounded-lg transition-all duration-500 hover:border-golden px-5 py-14 flex flex-col gap-10 border border-gray-300">
            <div class="w-full flex justify-between items-center ">
              <img src="/imgs/trustpilot-star.svg" loading="lazy" alt="">
              <h2>Trusted Company</h2>
            </div>
            <p class="text-gray-500 font-semibold leading-[32px]">
              neckle-Agency customer feedback
              is an invaluable source of
              information that can help
              businesses improve their
              offerings and provide better
              experiences.
            </p>
            <p><span class="font-bold">Jhon Abraham,</span> 25 minuts ago</p>
          </div>
          <div class="swiper-slide relative rounded-lg transition-all duration-500 hover:border-golden px-5 py-14 flex flex-col gap-10 border border-gray-300">
            <div class="w-full flex justify-between items-center ">
              <img src="/imgs/trustpilot-star.svg" loading="lazy" alt="">
              <h2>Trusted Company</h2>
            </div>
            <p class="text-gray-500 font-semibold leading-[32px]">
              neckle-Agency customer feedback
              is an invaluable source of
              information that can help
              businesses improve their
              offerings and provide better
              experiences.
            </p>
            <p><span class="font-bold">Jhon Abraham,</span> 25 minuts ago</p>
          </div>
          <div class="swiper-slide relative rounded-lg transition-all duration-500 hover:border-golden px-5 py-14 flex flex-col gap-10 border border-gray-300">
            <div class="w-full flex justify-between items-center ">
              <img src="/imgs/trustpilot-star.svg" loading="lazy" alt="">
              <h2>Trusted Company</h2>
            </div>
            <p class="text-gray-500 font-semibold leading-[32px]">
              neckle-Agency customer feedback
              is an invaluable source of
              information that can help
              businesses improve their
              offerings and provide better
              experiences.
            </p>
            <p><span class="font-bold">Jhon Abraham,</span> 25 minuts ago</p>
          </div>
        </div>
      </div>
      <%- include("../common/trustedPartners.ejs")%>
    </div>
  </section>
  <section class="bg-[#FAF8FB]">
    <%- include("../common/insights.ejs") %>
  </section>
  <%- include("../common/footer.ejs") %>
  <script src=" https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <%- include("../common/gsap.ejs") %>
  <script src="/animation/homeAnim.js"></script>
  <script src="/js/script.js"></script>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      loop: true,
      autoplay: {
        delay: 3000, // 3 seconds delay between slides
        disableOnInteraction: false, // Interaction ke baad autoplay continue rahega
      },
      speed: 1000,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: '.custom-button-next',
        prevEl: '.custom-button-prev',
      },
      breakpoints: {
        // Screen width 1024px or more
        1024: {
          slidesPerView: 3, // 4 slides per view
        },
        // Screen width between 640px and 1024px
        640: {
          slidesPerView: 2, // 2 slides per view
        },
        // Screen width less than 640px
        0: {
          slidesPerView: 1, // 1 slide per view
        },
      },
    });
    var swiper = new Swiper(".swiper-container", {
      loop: true,
      autoplay: {
        delay: 3000, // 3 seconds delay between slides
        disableOnInteraction: false, // Interaction ke baad autoplay continue rahega
      },
      speed: 1000,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: '.custom-button-next',
        prevEl: '.custom-button-prev',
      },
      breakpoints: {
        // Screen width 1024px or more
        1024: {
          slidesPerView: 3, // 4 slides per view
        },
        // Screen width between 640px and 1024px
        640: {
          slidesPerView: 2, // 2 slides per view
        },
        // Screen width less than 640px
        0: {
          slidesPerView: 1, // 1 slide per view
        },
      },
    });
  </script>
</body>

</html>